In [1]:
import pandas as pd
df = pd.read_csv('https://elephantscale-public.s3.amazonaws.com/data/best-buy-ner/best-buy-ner.tsv', header=None, sep='\t')
df

             0          1
0        apple      Brand
1        watch   Category
2         ipad  ModelName
3        apple      Brand
4        watch   Category
...        ...        ...
2325  ethernet          O
2326     cable   Category
2327   coupler          O
2328  ethernet   Category
2329  splitter   Category

[2330 rows x 2 columns]